<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%=link_to "Food Deals",root_path,class: "navbar-brand text-align" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" >
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to raw('<span class="glyphicon glyphicon-plus"></span>Restaurant'), new_restaurant_path %></li>
       <li><%= link_to raw('<span class="glyphicon glyphicon-home"></span>Home'),root_path%></li>
        <li><%= link_to raw('<span class="glyphicon glyphicon-info-sign"></span>About Us'),about_path %></li>
        <%if user_signed_in? %>
          <li><%=link_to raw('<span class="glyphicon glyphicon-cog"></span>Account Settings'),edit_user_registration_path%></li>
          <li><%=link_to raw('<span class="glyphicon glyphicon-off"></span>Logout'),destroy_user_session_path,method: :delete%></li>
        <% else %>
          <li><%=link_to "Login",new_user_session_path%></li>
          <li><%=link_to "Signup",new_user_registration_path%><li>
        <%end%>
        <li class="dropdown"></li>
          <div id="user_nav">
          <% if current_user %>
         Signed in as <strong> <%= current_user.name %></strong>!
          <%= link_to "Sign out", signout_path, id: "sign_out" %>
          <% else %>
          <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
          <% end %>
          </div>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


